/* block7 */
.block7 {
  // padding: 0 0 500px 0;
}

.price {
  width: 310px;
  height: fit-content;
  border: 6px solid #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 69px 38px 32px;
  box-sizing: border-box;
  margin-top: 28px;

  &__duraction {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__number {
    display: block;
    width: 76px;
    height: 76px;
    color: #000;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 6px solid #292929;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 24px;
    margin: 0 auto;
  }

  &__period {
    color: #292929;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1px;
    margin-bottom: 74px;
  }

  &__description {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 36px;
  }

  &__cost {
    text-align: center;
  }

  &__price {
    color: #292929;
    font-family: Arial;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2.25px;
    margin-bottom: 16px;
    white-space: nowrap;
  }

  &__buy {
    height: 45px;
    padding: 11px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active-price {
  border-color: $active-price;
  padding-bottom: 94px;
  margin-top: 0;
}

.active-price .price__number {
  color: $active-price;
  border-color: $active-price;
}

@media (max-width: $min-width) {
  .prices {
    flex-direction: column;
  }

  .price {
    flex-direction: row;
    height: 248px;
    width: 890px;
    margin-top: 0;
  }
}