/* block4 */
.block4 {
  // height: 978px;
  padding: 40px 0 200px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  // gap: 35px;

  /* background text */
  &__title {
    color: #292929;
    font-family: Arial;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    // line-height: 160px;
    /* 355.556% */
    letter-spacing: 2.25px;
  }

  &__line {
    margin-top: 35px;
    width: 64px;
    height: 6px;
    background-color: #000000;
  }

  &__description {
    margin-top: 50px;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
  }

  @media (max-width: $min-width) {
    &__line {
      margin-top: 38px;
    }

    &__description {
      margin-top: 48px;
    }
  }

  &__call {
    margin-top: 43px;
    align-self: end;
    color: #292929;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    background: none;
    border: none;
  }
}


.form>* {
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

.form {
  width: 100%;
  margin-top: 40px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: space-between;

  &__select {
    background: #292929;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    box-sizing: content-box;
  }

  &__box-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
  }

  &__box-row>* {
    width: 100%;
  }

  &__textarea {
    height: 198px;
  }

  @media (max-width: $min-width) {
    &__textarea {
      height: 157px;
    }
  }
}

@media (max-width: $min-width) {
  .block4 {
    // height: 781px;
    padding-top: 32px;
    padding: 32px 0 20px 0;
  }
}