/* block2 */
.block2 {
  height: 973px;

  /* background text */
  &__txt {
    position: absolute;
    top: 169px;
    left: 222px;
    max-width: 1130px;
    z-index: 0;
    color: #292929;
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px;
    white-space: nowrap;
  }

  @media (max-width: $min-width) {
    &__txt {
      top: 54px;
    }
  }

  &__txt:hover {
    color: black;
  }

  &__txt2 {
    top: 260px;
    max-width: 1357px;
    white-space: wrap;
    z-index: 3;
  }

  @media (max-width: $min-width) {
    &__txt2 {
      top: 145px;
    }
  }

  &__img {
    // width: 990px;
    // height: 956px;
    width: 953px;
    height: 596px;
    position: absolute;
    bottom: 0;
    // min-width: 990px;
    pointer-events: none;
    z-index: 2;
    right: -100px;
  }
}

.card2 {
  position: absolute;
  left: 548px;
  top: 459px;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  padding: 0 80px;
  max-width: 576px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 316px;

  &__description {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
  }

  &__description:hover {
    color: grey;
  }

  &__more {
    display: flex;
    height: 45px;
    padding: 11px 32px;
    color: #292929;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
  }

  &__more:hover {
    color: green;
    cursor: pointer;
  }
}

@media (max-width: $min-width) {
  .card2 {
    left: 285px;
    top: 356px;
  }
}