/* block */
.block {
  height: 956px;

  /* background text */
  &__txt {
    color: #cfcfcd;
    font-family: Arial;
    font-size: 160px;
    font-style: normal;
    font-weight: 900;
    line-height: 160px;
    letter-spacing: 8px;
    position: absolute;
    // margin: 150px 0 0 51%;
    left: 365px;
    top: 256px;
    max-width: 1130px;
    z-index: 0;
  }

  &__txt:hover {
    color: black;
  }

  &__img {
    // width: 990px;
    // height: 956px;
    position: absolute;
    bottom: 0;
    // min-width: 990px;
    pointer-events: none;
    z-index: 2;
    left: -100px;
  }
}

.card {
  position: absolute;
  top: 492px;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  padding: 0 80px;
  max-width: 576px;
  display: flex;
  right: 31px;
  flex-direction: column;
  gap: 25px;
  min-width: 316px;

  &__description {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
  }

  &__description:hover {
    color: grey;
  }

  &__more {
    display: flex;
    height: 45px;
    padding: 11px 32px;
    color: #292929;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
  }

  &__more:hover {
    color: green;
    cursor: pointer;
  }
}

@media (max-width: $min-width) {
  .card {
    top: 282px;
  }
}