/* block3 */
.block3 {
  height: 491px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 34px;

  /* background text */
  &__txt {
    padding-top: 124px;
    color: #FFF;
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 160px;
    letter-spacing: 4px;
    white-space: nowrap;
  }


  @media (max-width: $min-width) {
    &__txt {
      padding-top: 53px;
    }
  }

  &__txt2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
  }
}

@media (max-width: $min-width) {
  .block3 {
    gap: 28px;
  }
}