/* block6 */
.block6 {
  // padding: 0 0 500px 0;

  &__title {
    // padding: 140px 0 124px 260px;
    padding: 140px 0 124px 0;
    color: #292929;
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px;
  }
}

@media (max-width: $min-width) {
  .coaches {
    display: none;
  }
}

.swiper {
  // width: 100%;
  // height: 300px;

  &-slide__description {
    padding: 10px 58px 16px 30px;
  }

  &-slide__name {
    color: #292929;
    font-family: Arial;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    padding-bottom: 10px;
    /* 111.111% */
  }

  &-slide__post {
    color: #292929;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
  }
}