/* block8 */
.block8 {
  &__title {
    padding-left: 115px;
    color: #292929;
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px;
  }
}

.block8 .block6__title {
  padding-bottom: 46px;
}

.container-map {
  height: 1017px;
  width: 100%;
}

.map {
  height: 100%;
}