/* block5 */
.block5 {
  height: 960px;
  display: grid;
  grid-template-columns: repeat(3, 0.3fr) 1fr;
  text-align: center;

  &__item {
    background: $bgc;
    padding-top: 38px;
    width: 100%;
    height: 480px;
  }

  &__item>img {
    background: $bgc;
    padding-bottom: 70px;
  }

  &__item>p:first-of-type {
    color: #292929;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1px;
    padding-bottom: 52px;
  }

  &__item>p:last-of-type {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    padding: 0 44px;
  }
}

.system {
  grid-column: 1/4;
  grid-row: 1/2;
  padding-right: 50px;
  justify-self: right;
  max-width: 624px;
  padding-bottom: 41px;

  &__title {
    color: #292929;
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 160px;
    letter-spacing: 4px;
    padding-bottom: 34px;
  }

  &__description {
    color: #292929;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
  }
}

.nutrition {
  grid-column: 1/2;
  grid-row: 2/4;
}

.mode {
  grid-column: 2/3;
  grid-row: 2/3;
}

.program {
  grid-column: 3/4;
  grid-row: 2/3;
}

.training {
  width: 100%;
  height: 100%;
  background-position: center;
  background: url("../images/training.png") no-repeat;
  grid-column: 4/5;
  grid-row: 1/3;
}

@media (max-width: $min-width) {
  .block5 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 489px 434px 388px;
    height: 1311px;
  }

  .system {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .nutrition {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .mode {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .program {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .training {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}