/* common */
.container {
  margin: 0 auto;
  max-width: $container-max-width;
}

.container2 {
  margin: 0 auto;
  max-width: $container-max-width2;
}

.relative {
  position: relative;
}

.bgc {
  background: #ededeb;
}

.bgc2 {
  background: #ffffff;
}

.bgc3 {
  background: #292929;
}

.bgc5 {
  background: #ffffff;
}

.bgc6 {
  background: #ffffff;
}