@font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial/Arial-Black.eot');
  src: url('../fonts/Arial/Arial-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial/Arial-Black.woff') format('woff'),
    url('../fonts/Arial/Arial-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Black.eot');
  src: url('../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto/Roboto-Black.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}