/* footer */
.footer {
  padding: 46px 0 0 0;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-bottom: 44px;
  grid-gap: min(231px, calc((100% - 400px)/4));
  white-space: nowrap;

  &__item {
    color: #292929;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
  }
}

.footer-end {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  grid-gap: 11px;
  padding-bottom: 23px;

  &__item {
    color: #292929;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
  }
}