/* header */
.header {
  justify-content: center;
  height: 140px;
  box-sizing: border-box;
  padding: 30px 100px 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // min-width: 1000px;
  max-width: $container-max-width;

  &__logo {
    width: 182px;
    height: 100px;
    background-image: url("../images/logo.png");
  }
}

.nav {
  display: flex;
  list-style-type: none;

  &__el {
    padding: 11px 32px;
    white-space: nowrap;
  }

  &__el:hover {
    color: red;
    cursor: pointer;
  }
}

.nav-btn {
  border-radius: 4px;
  height: 48px;
  width: 48px;
  min-height: 48px;
  min-width: 48px;
  background: #ffffff;
  padding: 12px;
  display: none;
  gap: 6.5px;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.nav-btn__line {
  width: 100%;
  height: 3px;
  background-color: #000000;
}


@media (max-width: $min-width) {
  .nav {
    display: none;
  }

  .nav-btn {
    display: flex;
  }
}